body {
    background: #000000;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 1.6vw;
    scroll-behavior: smooth;
    cursor: default;
    padding: 20px;
    text-align: center;

}

#portada {
    background: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 15px;

}

#portada h1 {
    color: rgb(100, 198, 190);
}

#portada label {
    color: rgb(38, 129, 122);
}

#informacionuno {
    font-size: 4.3vw;
}

#informacionuno label {
    position: relative;
}

#maquinaescr {
    position: absolute;
    right: 0;
    width: 0;
    border-left: 3px solid white;
    background-color: rgb(0, 0, 0);
    animation: escribir 3s infinite alternate;

}

@keyframes escribir {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

#bajar {
    transition: all 1s ease 0s;
    animation: parpadear 1.4s infinite alternate;
}

@keyframes parpadear {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

#baja {
    font-size: 1.6vw;
    padding-bottom: 10px;
    margin-bottom: 10;
}

#barracontent {

    margin-top: 2.5vh;
    width: 100%;
    background-color: black;
    transition: all 1s ease 0s;
    margin-bottom: 1vh;

}

.barra {
    height: 8vh;
    padding: 10px;
    font-size: 1.6vw;
    background-color: rgb(12, 12, 12);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.4s ease 0s;
    margin-top: 20px;

}

.barra.active {
    background-color: rgb(53, 53, 53);
}

.barra:hover {
    background-color: rgb(53, 53, 53);
}

.barra:active {
    background-color: rgb(37, 37, 37);
}

.containers {
    transition: all 1s ease 0s;
}

.containers h1 {
    color: rgb(38, 129, 122);
    width: 100%;
}

#containerHobbies {
    display: grid;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 30px;
    grid-gap: 142px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 30vh);

}

.hobbies {

    height: 240px;
    text-align: center;
    background-color: rgb(26, 26, 26);
    border-radius: 16px;

}

.hobbie {
    margin: auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 16px;
}

.parrafoScroll{
    overflow: auto;
    height: 175px;
}



.iconos {
    height: 120px;
    margin-top: 10px;
}

#containerTecnologias{
    display: grid;
    align-items: center;
    text-align: center;
    margin: 10px auto;
    font-size: 1.6vw;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(auto, 60px);
    grid-gap: 70px;
}

.tecnologias{
    width: 100%;
    height: 80px;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 30px;  
}

#node{
    filter: brightness(1);
}

#habilidades{
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
}

li {
    list-style-type: none;
}
ul{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 20px;
}

#containerProyectos{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 13vw;
    margin-bottom: 50px;
    font-size: 30px;
    flex-direction: column;
}

.proyectos{
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 20px;
    margin: 0;
    padding: 0;
    transition: all 0.2s ease 0s;
    overflow: auto;
}

.imgProyectos{
    width: auto;
    height: 300px;
    border-radius: 10px;
    float: left;
    margin-right: 15px;
    
}

.proyectos:hover{
    background-color: rgb(41, 41, 41);
}

.tituloproyectos{
    color: rgb(38, 129, 122);
}
#instagram{
    background-color: white;
    border-radius: 52px;
    cursor: pointer;
}
#gmail{
cursor: pointer;

}
#linkedin{
    cursor: pointer;

}

.redes{
    transition: all 0.2s ease 0s;
}

.redes:hover{
    opacity: 80%;
}

#containerFlexboxPagina{
    display: flex;
    margin: 10px auto;
    flex-direction: column;
    width: 100%;
    
}

.todoFlex{
    width: 100%;
}

/* //responsive */

/* Celulares */
 @media screen and (max-width: 480px) { 
     .containers,#dev, #containerTecnologias, .barra{
         font-size: 18px;
     }
     #baja{
         font-size: 15px;
     }
    #containerHobbies{
        grid-gap: 1px;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(4, 270px);
    }
    .hobbies {
        height: 100px;
    }
    #containerTecnologias{
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(auto, 220px);
    }
}

/* Tablets */
@media screen and (max-width: 768px) {
    #containerTecnologias{
        grid-gap: 15px;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, 225px);
    }

} 

/* Laptop */
@media screen and (max-width: 1024px) {
    #containerTecnologias{
        grid-gap: 15px;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, 225px);
    }

}

/* Escritorio
@media screen and (max-width: 1200px) {
    #containerTecnologias{
        grid-gap: 15px;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, 225px);
    }

}

/* TV 
@media screen and (min-width: 1201px) {
    #containerTecnologias{
        grid-gap: 15px;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, 225px);
    }

} */

